.clock {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  justify-self: center;
  box-shadow: var(--innerShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.85em 0;
  color: var(--primaryColor);
}

.clock h1 {
  padding: 0.1em 0.5em;
  border-radius: 0.2em 1em;
  box-shadow: var(--outerShadow);
}

.clock span {
  font-weight: bold;
  font-size: 12.5vmin;
}
