.container-control {
  display: flex;
}

.container-control .container-input {
  margin: 0 3em 0;
}

.container-control .container-input p {
  font-size: 2.75vmin;
  font-weight: 700;
  color: var(--dark);
  text-align: center;
}

.container-control .container-input .input-group {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

output {
  background: var(--dark);
  border-radius: 0.2em;
  box-shadow: var(--outerShadow);
  width: 1.5em;
  height: 1.5em;
  color: var(--light);
  font-size: 3.25vmin;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  margin-right: 1em;
  width: 25vmin;
  height: 1.25em;
  border-radius: 1em;
  box-shadow: var(--innerShadow);
  background: var(--light);
  position: relative;
  background: linear-gradient(145deg, #0d0d3a, #0b0b31);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 1.75em;
  width: 1.75em;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  background: #121250;
  box-shadow: 1px 1px 2px #11114b, -1px -1px 2px #131355;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 1.75em;
  width: 1.75em;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  background: var(--light);
  box-shadow: var(--outerShadow);
  border: none;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.75em;
  width: 1.75em;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  background: var(--light);
  box-shadow: var(--outerShadow);
  border: none;
}

input[type="range" i]:disabled {
  opacity: 0.2;
  background: none;
}
